html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #F2F2F2;
}



@media (max-width:750px)
{
header {
	margin:8%;
}
.content {
	margin: 8%;
}
ul {
	list-style-type: none;
}
h1 {
	font-size: 6vw;
	letter-spacing: 0.2em;
}
a {
	font-family: "avenir";
	text-decoration: none;
	text-transform: uppercase;
	color: #919191;
	text-align: center;
}
a:hover {
	font-family: "avenir";
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	text-align: center;
	}
a:focus {
	color:black;
}
.category {
	font-family: "courier";
	font-size: 5vw;
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
}
.imagetext {
	font-variant: small-caps;
	font-family: "avenir";
	font-size: 4vw;
	text-align: center;
	padding: 10px;
}
}



hr {
	border-width: 2px 0px 0px 0px;
	padding:10px 0px; 
}




@media (min-width: 751px)
{
	header {
	margin: 60px;
}
.content {
	margin: 60px;
}
ul {
	list-style-type: none;
}
.links {
	display: inline-block;
	padding-right: 10px;
}
h1 {
	font-size: 3vw;
	font-weight: bolder;
	letter-spacing: 0.2em;
}
a {
	font-family: "avenir";
	text-decoration: none;
	text-transform: uppercase;
	color: #919191;
	text-align: center;
}
a:hover {
	font-family: "avenir";
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	text-align: center;
	}
.category {
	font-family: "courier";
	font-size: 2vw;
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
}
.imagetext {
	font-variant: small-caps;
	font-family: "avenir";
	font-size: 2vw;
	text-align: center;
	padding: 10px;
}
.content img {
	width: 35%;
	float: left;
	margin-right: 15px;
	border-radius: 0.7em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content p {
	font-family: "avenir";
	font-size: 20px;
}
.content h1 {
	font-family: "courier";
	margin-bottom: 30px;
	font-size: 30px;
}
}

@media (max-width: 900px)
{
	.content img {
	width: 40%;
	float: left;
	margin-bottom: 15px;
	border-radius: 0.7em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.content p {
	font-family: "avenir";
	font-size: 20px;
}
.content h1 {
	font-family: "courier new";
	margin-bottom: 30px;
	font-size: 30px;
}
}

@media (max-width: 750px)
{
	.content img {
	width: 90%;
	float: left;
	margin-bottom: 15px;
	border-radius: 0.7em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.content p {
	font-family: "avenir";
	font-size: 20px;
}
.content h1 {
	font-family: "courier new";
	margin-bottom: 30px;
	font-size: 30px;
}
}



